mixin CtaOne 
  +Section.bg-soft-primary 
    .row.justify-content-center
      .col-lg-10
        .card.card-span.rounded-3
          .card-body
            .row.justify-content-evenly
              .col-md-3
                .d-flex.justify-content-evenly
                  img.img-fluid(src=`${CWD}assets/img/icons/discounts.png` width='136' alt='...') 
                  .d-flex.flex-center
                    h2.fw-bolder.text-1000.mb-0.text-gradient Daily
                      br
                      | Discounts      
              .col-md-3
                .d-flex.justify-content-evenly
                  img.img-fluid(src=`${CWD}assets/img/icons/live-tracking.png` alt='...') 
                  .d-flex.flex-center
                    h2.fw-bolder.text-1000.mb-0.text-gradient Live Tracking
              .col-md-3
                .d-flex.justify-content-evenly
                  img.img-fluid(src=`${CWD}assets/img/icons/quick-delivery.png` alt='...') 
                  .d-flex.flex-center
                    h2.fw-bolder.text-1000.mb-0.text-gradient Quick Delivery           
